.products {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    grid-auto-rows: 400px;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    width: 100%;
}

@media screen and (width < 768px) {
    .products {
        grid-template-columns: 1fr;
        padding: 0;
    }
}