.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
    color: var(--color-background);
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
    overflow: hidden;
    gap: 1rem;
}


@media screen and (width< 600px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        gap: unset;
    }
}