.product {
    background-color: var(--color-secondary);
    padding: 1rem;
}

.image {
    width: 100%;
    height: 300px;
}

.productDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
}